bootstrap-4.0.0-dist*
pin_icon.png
pin_icon.xcf
pinned_icon.png
node_modules/
notes/
build/
npm-debug.log
logs/
src/ts/gameMap/exampleMap.json
src/ts/tanks/gameMap/maps/*
static/tanks/js/bundle.js
static/tanks/js/mc/bundle.js
